<div style="text-align: center;">
<b>f.i.r.e. exists to see the people of the nations become Followers of Jesus</b>
<br>
<i>"…so that all nations might believe and obey him."</i>
<br>
Romans 16:26
</div>
<br>
<div class="content_section">
Our world today is a global world. People from every culture are immigrating from everywhere
to everywhere throughout the world. In our work and play we are increasingly encountering
people from diverse backgrounds. They are the people of whom Christ spoke when he said, “…
go, make disciples of all nations….” (Matthew 28:19) They are no longer “just” overseas, but
they are now our neighbors. Many are the “least reached” people in the world. To effectively
share God’s love with them, we need to develop and grow in “cultural intelligence” (CQ). CQ
is capability to effectively relate to people from a variety of cultural backgrounds. God has
given all His followers the desire to love the people of the nations; He has given F.I.R.E the task
of facilitating His followers’ journey of moving from the desire to love people from the varied
cultural contexts to the desire to express that love respectfully and meaningfully.
<br><br>
<div class="content_section">
<i>
And this gospel of the kingdom will be preached in the whole world as a testimony to all
nations, and then the end will come.
</i>
<br><br>
Matthew 24:14
</div>
</div>
