<div id="page">
	<div class="transparent_border">
		<img src="images/header.png" />
	</div>
	<div class="slideshow">
		<img src="images/slideshow1.jpg" />
		<img src="images/slideshow2.jpg" />
		<img src="images/slideshow3.jpg" />
		<img src="images/slideshow4.jpg" />
	</div>
	<br>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1"><span>WHO</span> we are</a></li>
			<li><a href="#tabs-2"><span>WHAT</span> we do</a></li>
			<li><a href="#tabs-3"><span>HOW</span> to get involved</a></li>
		</ul>
		<div id="tabs-1">
			Explanation of the organization.<br><br>
			Blog of the leaders.<br><br>
			Calendar of upcoming events.<br><br>
		</div>
		<div id="tabs-2">
			Specifcs on the sessions with groups.<br><br>
			Forum section where people can ask questions. Or possibly static content on most commonly asked questions.<br><br>
		</div>
		<div id="tabs-3">
			Contact section.<br><br>
			Section outlining/describing cost structure.<br><br>
		</div>
	</div>
</div>
