<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Facilitating Intercultural Relationships Everywhere</title>
		<link type="text/css" href="/stylesheets/dark-hive/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="javascripts/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui-1.8.11.custom.min.js"></script>
		<script type="text/javascript">
			/* MOVE TO SEPARATE FILE FOR PRODUCTION */
			$(function(){
				// Tabs
				$('#tabs').tabs();
			});

			FIRE = {};
			FIRE.fade_time = 1500;
			FIRE.slideshow_time = 4000;
			FIRE.dot_off = 'dot_nav_off';
			FIRE.dot_on = 'dot_nav_on';
			FIRE.dot_nav = 'dot_navigation_on';
			FIRE.slideshow = function() {
			  // Grab the first image
			  var image = $('.fadein :first-child');
			  // Fade the first image out...
			  image.fadeOut(FIRE.fade_time);
			  // ... while fading the next image in.
			  image.next('img').fadeIn(FIRE.fade_time);
			  // Now append the image to the end of the slideshow
			  image.appendTo('.fadein');
			  
			  // Handle dot navigation
			  var dot = $("."+FIRE.dot_nav);
			  var next_dot = dot.next();
			  // Loop to beginning if necessary
			  if (next_dot.length === 0) {
			    next_dot = $('.fadein_dot :first-child');
			  }
			  // Remove classes for current dot
			  dot.removeClass(FIRE.dot_on);
			  dot.removeClass(FIRE.dot_nav);
			  dot.addClass(FIRE.dot_off);
			  // Add classes for next dot
			  next_dot.removeClass(FIRE.dot_off);
			  next_dot.addClass(FIRE.dot_on);
			  next_dot.addClass(FIRE.dot_nav);
			};
			
			$(function() {
			  // Hide everything but the first image
			  $('.fadein img:gt(0)').hide();
			  // Start the slideshow
			  setInterval(FIRE.slideshow, FIRE.slideshow_time);
			});
			
			/*
			Selector notes:
			$("#slideshow_footer ").children(":first-child")
			$(".ui-icon-radio-off").next()
			$(".ui-icon-radio-off").removeClass("ui-icon")
			*/
		</script>
		<style type="text/css">
			/* MOVE TO SEPARATE FILE FOR PRODUCTION */
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}

			.slideshow {
			  height: 332px;
			  width: 800px;
			  margin: auto;
			  margin-top: 30px;
			}
			.transparent_border {
			  padding-top: 10px;
			  padding-bottom: 10px;
			  border: 1px solid #777;
			  background-color: rgb(238, 238, 238);
			  //background-color: rgba(238, 238, 238, 0.85);
			}
			.slideshow img {
			  padding: 15px;
			  border: 1px solid #777;
			  background-color: rgb(238, 238, 238);
			  background-color: rgba(238, 238, 238, 0.25);
			}
			.background_image {
			  width: 100%;
			  position: absolute;
			  top: 0px;
			  left: 0;
			  z-index: -1;
			}
			#page {
			  margin-top: 10px;
			  width: 800px;
			  margin: auto;
			}
			#tabs a {
			  color: #bbb;
			}
			#tabs a span {
			  font-weight: bold;
			  color: #fff;
			}
			body {
			  margin-top: 30px;
			}
			#tabs {
			  margin-top: 20px;
			}
			/*
			Last element in tabs
			<img src="images/logo_small.png" />
			#tabs img {
			  position: relative;
			  left: 12px;
			  top: 2px;
			}
			*/
			.fadein { position:relative; }
      .fadein img { position:absolute; left:0; top:0; }
			#slideshow_footer {
			  z-index: 4;
			  position: relative;
			  top: -15px;
			  width: 64px;
			  height: 40px;
			  margin: 0px auto;
			}
			#slideshow_footer span {
			  float: left;
			}
			.dot_nav_on {
			  background-image: url('images/dot_nav_on.gif');
			}
			.dot_nav_off {
			  background-image: url('images/dot_nav_off.gif');
			}
		</style>
	</head>
	<body>
	<img class="background_image" src="images/background.png" bgproperties="fixed" />
    <%= yield %>
	</body>
</html>
